body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../images/carte.png');
    background-size: auto 150%;
    background-position: center;
    background-repeat: repeat-x;
    background-color: #995454;

    animation: moveIt 40s linear infinite;
}
body::before {
    content: ''; /* Nécessaire pour créer l'élément */
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(150, 18, 18, 0.3); /* Filtre de couleur (ici, noir semi-transparent) */
    z-index: 1; /* Place le filtre au-dessus de l'image */
    pointer-events: none; /* Rend le filtre insensible aux interactions */
}

@keyframes moveIt {
    from {background-position: 0 center;}
    to {background-position: 100% center;}
  }
.container {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 300px;
    position: relative;
    z-index: 2;
}
input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
button {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #d63d3d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #b53131;
}

.btn {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #d35757;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #b53131; 
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur noire semi-transparente */
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    z-index:2 ;
}